body {
    background-color: #222;
    color: white;
    opacity: 1;
}

.App {
    width: 100%;
    height: auto;
    min-width: 550px;
}

.loading-veil {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("../loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: contain;
}

.movie-cover-1 {
    background-image: url(../covers/1.jpg);
}

.movie-cover-2 {
    background-image: url(../covers/2.jpg);
}

.movie-cover-3 {
    background-image: url(../covers/3.jpg);
}

.movie-cover-4 {
    background-image: url(../covers/4.jpg);
}

.movie-cover-5 {
    background-image: url(../covers/5.jpg);
}

.movie-cover-6 {
    background-image: url(../covers/6.jpg);
}

.movie-cover-7 {
    background-image: url(../covers/7.jpg);
}

.section-title {
    margin-bottom: 20px;
    padding-left: 20px;
}

.button {
    padding: 10px;
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    color: white;
}

.button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}